# Ignore the following directories
log/*
node_modules
src/*
tmp/*

# Ignore the following files
*.log
*.log.*
tests/**/*.js

# Keep the following files for empty directories to be included in the repository
!/**/.gitkeep
